* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    width: 100%;
    height: 90vh;
    background-image: url(../media/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
}

.header-left {
    background-color: rgba(0, 0, 0, 0.85);
    grid-column: 1 / 5;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.topbar {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.topbar-logo {
    font-size: 38px;
    color: #FFFFFF;
}

.topbar-list {
    width: 55%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    color: #FFFFFF;
}


.topbar-list-item-link {
    font-size: 18px;
    text-decoration: none;
    color: rgb(211, 211, 211);
}

.topbar-list-item-link:hover {
    border-bottom: 2px solid #DAA520;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    margin-top: 1.2rem;
}

.left-content {
    width: 25%;
    height: 100%;
}


.left-content-title {
    font-size: 24px;
    color: #FFFFFF;
}

.left-content-subtitle {
    height: 25%;
    width: 400px;
    color: #FFFFFF;
    transform: rotate(-90deg);
    margin-left: -130px;
    margin-top: 200px;
    font-size: 16px;
}

.right-content {
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.right-content-title {
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    color: #FFFFFF;
    align-self: center;
}

.right-content-text{
    grid-row: 2 / 3;
    color: #FFFFFF;
    grid-column: 2 / 5;
}

.images {
    grid-row: 3 / 4;
    grid-column: 2 / 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-content-img {
    width: 90px;
    height: 90px;
    clip-path: circle(50%);
}